In [1]:
import numpy as np
import pandas as pd

In [17]:
# 使用二维数组（列表）创建DataFrame
array = np.random.randint(0,10, size=(5, 3))
# index：行索引。
# columns：列索引。
df1 = pd.DataFrame(array)
print(df1)

   0  1  2
0  7  6  6
1  4  3  1
2  2  5  8
3  4  9  7
4  9  9  0

In [18]:
df1[2][1]

1

In [6]:
array = np.random.randint(0,10, size=(5, 3))
# array[1][1]
array

array([[0, 1, 0],
       [4, 4, 2],
       [3, 3, 0],
       [6, 9, 1],
       [2, 3, 7]])

In [23]:
# 使用字典来创建DataFrame
persons = [{"name": "张三", "age": 18, "height": 180},{"name": "张三", "age": 18, "height": 180}]
df2 = pd.DataFrame(persons)
df2

  name  age  height
0   张三   18     180
1   张三   18     180

In [21]:
user = {"张三": 18, "李四": 24, "王五": 36}
series3 = pd.Series(user)
series3

张三    18
李四    24
王五    36
dtype: int64

In [24]:
perons3 = {"name": ['张三', '李四'], "age": [18, 28], "height": [180, 187]}
df3 = pd.DataFrame(perons3)
df3

  name  age  height
0   张三   18     180
1   李四   28     187

# 查看DataFrame信息

In [35]:
# head方法
df = pd.read_csv("data/stock_day.csv")
df.head(15)

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-22,22.25,22.76,22.28,22.02,36105.01,0.36,1.64,21.446,21.909,23.137,35397.58,39904.78,60149.60,0.90
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-13,21.40,21.90,21.48,21.31,30802.45,0.28,1.32,21.342,22.103,23.387,39694.65,45518.14,65161.68,0.77
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
2018-02-09,21.20,21.46,20.36,20.19,54304.01,-1.50,-6.86,21.920,22.596,23.645,48624.36,48982.38,70552.47,1.36
2018-02-08,21.79,22.09,21.88,21.75,27068.16,0.09,0.41,22.372,23.009,23.839,44411.98,48612.16,73852.45,0.68
2018-02-07,22.69,23.11,21.80,21.29,53853.25,-0.50,-2.24,22.480,23.258,23.929,52281.28,56315.11,74925.33,1.35
2018-02-06,22.80,23.55,22.29,22.20,55555.00,-0.97,-4.17,22.864,23.607,24.029,51341.63,64413.58,75738.95,1.39
2018-02-05,22.45,23.39,23.27,22.25,52341.39,0.65,2.87,23.172,23.928,24.112,46714.72,69278.66,77070.00,1.31
2018-02-02,22.40,22.70,22.62,21.53,33242.11,0.20,0.89,23.272,24.114,24.184,49340.40,70873.73,79929.71,0.83
2018-02-01,23.71,23.86,22.42,22.22,66414.64,-1.30,-5.48,23.646,24.365,24.279,52812.35,80394.43,88480.92,1.66
2018-01-31,23.85,23.98,23.72,23.31,49155.02,-0.11,-0.46,24.036,24.583,24.411,60348.94,80496.48,91666.75,1.23

In [26]:
# tail方法
df.tail()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2015-03-06,13.17,14.48,14.28,13.13,179831.72,1.12,8.51,13.112,13.112,13.112,115090.18,115090.18,115090.18,6.16
2015-03-05,12.88,13.45,13.16,12.87,93180.39,0.26,2.02,12.820,12.820,12.820,98904.79,98904.79,98904.79,3.19
2015-03-04,12.80,12.92,12.90,12.61,67075.44,0.20,1.57,12.707,12.707,12.707,100812.93,100812.93,100812.93,2.30
2015-03-03,12.52,13.06,12.70,12.52,139071.61,0.18,1.44,12.610,12.610,12.610,117681.67,117681.67,117681.67,4.76
2015-03-02,12.25,12.67,12.52,12.20,96291.73,0.32,2.62,12.520,12.520,12.520,96291.73,96291.73,96291.73,3.30

In [28]:
# describe
df.describe()

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
count,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000,643.000000
mean,21.272706,21.900513,21.336267,20.771835,99905.519114,0.018802,0.190280,21.302362,21.267656,21.200946,100008.642691,100287.542177,100797.518398,2.936190
std,3.930973,4.077578,3.942806,3.791968,73879.119354,0.898476,4.079698,3.880640,3.813602,3.686186,62761.578326,56759.082060,50101.575639,2.079375
min,12.250000,12.670000,12.360000,12.200000,1158.120000,-3.520000,-10.030000,12.520000,12.520000,12.520000,10804.740000,19130.510000,23311.000000,0.040000
25%,19.000000,19.500000,19.045000,18.525000,48533.210000,-0.390000,-1.850000,18.990000,19.102000,19.275000,55794.985000,59861.955000,64103.675000,1.360000
50%,21.440000,21.970000,21.450000,20.980000,83175.930000,0.050000,0.260000,21.504000,21.623000,21.530000,86133.330000,89234.970000,96291.730000,2.500000
75%,23.400000,24.065000,23.415000,22.850000,127580.055000,0.455000,2.305000,23.318000,23.098500,23.136000,127655.655000,124693.255000,124001.015000,3.915000
max,34.990000,36.350000,35.210000,34.010000,501915.410000,3.030000,10.030000,33.696000,32.186000,29.998000,404443.540000,360028.160000,269280.790000,12.560000

In [29]:
# shape
df.shape

(643, 14)

In [ ]:
# index：行索引
# columns：列索引
# df.index
df.columns

In [ ]:
df.T

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 643 entries, 2018-02-27 to 2015-03-02
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   open          643 non-null    float64
 1   high          643 non-null    float64
 2   close         643 non-null    float64
 3   low           643 non-null    float64
 4   volume        643 non-null    float64
 5   price_change  643 non-null    float64
 6   p_change      643 non-null    float64
 7   ma5           643 non-null    float64
 8   ma10          643 non-null    float64
 9   ma20          643 non-null    float64
 10  v_ma5         643 non-null    float64
 11  v_ma10        643 non-null    float64
 12  v_ma20        643 non-null    float64
 13  turnover      643 non-null    float64
dtypes: float64(14)
memory usage: 75.4+ KB

In [ ]:
df.dtypes

# DataFrame基本操作

In [ ]:
# 获取某一列的数据
# df.open
# df['open']

In [ ]:
# 一次性获取多列的数据
df[['open', "close"]]

In [ ]:
# 获取某一行的数据
# index(下标) location
df.iloc[1]

In [ ]:
# 增加新的列
df3['weight'] = [70, 80]
df3

In [ ]:
# 删除列
del df3['height']
df3