In [2]:
import numpy as np
import pandas as pd

In [3]:
df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
print(df_obj.head())

          a         b         c         d
0 -0.767971  2.426824 -1.886441 -0.815298
1  0.740298 -0.153513  0.632100 -0.042937
2 -0.692769 -0.848715  1.315759 -0.392652
3 -0.168930 -1.902669 -1.204836 -0.135807
4 -1.044302 -0.831536 -1.443160  0.194077

In [4]:
# 列索引
print(df_obj['a']) # 返回Series类型

0   -0.767971
1    0.740298
2   -0.692769
3   -0.168930
4   -1.044302
Name: a, dtype: float64

In [6]:
# 不连续索引
print(df_obj[['a','c']])

          a         c
0 -0.767971 -1.886441
1  0.740298  0.632100
2 -0.692769  1.315759
3 -0.168930 -1.204836
4 -1.044302 -1.443160

In [10]:
df_new= df_obj[['a','c']]
df_new

          a         c
0 -0.767971 -1.886441
1  0.740298  0.632100
2 -0.692769  1.315759
3 -0.168930 -1.204836
4 -1.044302 -1.443160

In [16]:
df_new[:][1:2]

          a       c
1  0.740298  0.6321

In [17]:
print(df_obj['a'])

0   -0.767971
1    0.740298
2   -0.692769
3   -0.168930
4   -1.044302
Name: a, dtype: float64

In [20]:
df_new.loc[0:2, 'a']

0   -0.767971
1    0.740298
2   -0.692769
Name: a, dtype: float64

In [22]:
df_new.iloc[0:2, 0]

0   -0.767971
1    0.740298
Name: a, dtype: float64

In [24]:
import numpy as np
import pandas as pd

In [25]:
arr1 = np.random.rand(4,3)
pd1 = pd.DataFrame(arr1,columns=list('ABC'),index=list('abcd'))
pd1

          A         B         C
a  0.317875  0.087197  0.304859
b  0.369811  0.930615  0.991966
c  0.357125  0.357036  0.223823
d  0.038825  0.071109  0.043073

In [26]:
f = lambda x: '%.2f'% x

In [27]:
pd2 = pd1.applymap(f).astype(float)
pd2

      A     B     C
a  0.32  0.09  0.30
b  0.37  0.93  0.99
c  0.36  0.36  0.22
d  0.04  0.07  0.04

In [28]:
pd2.sum()

A    1.09
B    1.45
C    1.55
dtype: float64

In [29]:
pd2.sum(axis='columns')

a    0.71
b    2.29
c    0.94
d    0.15
dtype: float64

In [30]:
pd2.()

              A        B         C
count  4.000000  4.00000  4.000000
mean   0.272500  0.36250  0.387500
std    0.156498  0.40078  0.416123
min    0.040000  0.07000  0.040000
25%    0.250000  0.08500  0.175000
50%    0.340000  0.22500  0.260000
75%    0.362500  0.50250  0.472500
max    0.370000  0.93000  0.990000

In [31]:
import pandas as pd

In [ ]:
with open("ads") as f