In [1]:
import numpy as np
import pandas as pd

## 一、CSV文件操作：

In [2]:
df = pd.read_csv("data/lianjia.csv", index_col="Id", usecols=["Id",'Direction', 'District'])
df.head()

             Direction District
Id
101102647043        东西      灯市口
101102650978        南北       东单
101102672743        南西      崇文门
101102577410         南      崇文门
101102574696         南      陶然亭

In [3]:
reader = pd.read_csv("data/lianjia.csv", chunksize=5)
for chunk in reader:
    print(chunk)
    break

  Direction District Elevator  Floor    Garden            Id Layout  Price  \
0        东西      灯市口      NaN      6  锡拉胡同21号院  101102647043   3室1厅    780
1        南北       东单      无电梯      6     东华门大街  101102650978   2室1厅    705
2        南西      崇文门      有电梯     16     新世界中心  101102672743   3室1厅   1400
3         南      崇文门      NaN      7    兴隆都市馨园  101102577410   1室1厅    420
4         南      陶然亭      有电梯     19    中海紫御公馆  101102574696   2室2厅    998

  Region Renovation   Size  Year
0     东城         精装   75.0  1988
1     东城         精装   60.0  1988
2     东城         其他  210.0  1996
3     东城         精装   39.0  2004
4     东城         精装   90.0  2010

In [4]:
df.to_csv("test.csv", columns=['Direction'])

## 二、Excel文件操作

In [7]:
df = pd.read_excel("data/常见名字地理分布情况.xlsx", sheet_name="单字")
df.head()

  单字名                                             主要分布省份
0   伟  四川(9.00%)、山东(8.13%)、安徽(7.57%)、江苏(7.34%)、河南(5.9...
1   敏  四川(11.10%)、安徽(9.03%)、江苏(7.42%)、山东(6.44%)、湖南(6....
2   静  四川(8.68%)、\t山东(8.17%)、河南(7.94%)、江苏(7.88%)、安徽(6...
3   杰  四川(9.62%)、河南(6.21%)、江苏(6.86%)、安徽(6.46%)、山东(6.3...
4   丽  四川(9.77%)、\t安徽(7.98%)、河南(7.76%)、山东(6.89%)、辽宁(6...

In [9]:
reader = pd.ExcelFile("data/常见名字地理分布情况.xlsx")
df1 = pd.read_excel(reader, sheet_name="复姓")
df2 = pd.read_excel(reader, sheet_name="单字")
# df1.head()
df2.head()

  单字名                                             主要分布省份
0   伟  四川(9.00%)、山东(8.13%)、安徽(7.57%)、江苏(7.34%)、河南(5.9...
1   敏  四川(11.10%)、安徽(9.03%)、江苏(7.42%)、山东(6.44%)、湖南(6....
2   静  四川(8.68%)、\t山东(8.17%)、河南(7.94%)、江苏(7.88%)、安徽(6...
3   杰  四川(9.62%)、河南(6.21%)、江苏(6.86%)、安徽(6.46%)、山东(6.3...
4   丽  四川(9.77%)、\t安徽(7.98%)、河南(7.76%)、山东(6.89%)、辽宁(6...

In [12]:
# index_col
df = pd.read_excel("data/常见名字地理分布情况.xlsx", index_col="复姓", usecols=['复姓', '人数(万人)'])
df.head()

    人数(万人)
复姓
欧阳   111.7
上官     8.9
皇甫     6.5
令狐     5.5
诸葛     4.9

In [17]:
# df1.to_excel("data/复姓.xlsx", sheet_name="复姓")

# 如果有多个sheet需要写入的时候，使用ExcelWriter效率更高，因为只有一次I/O操作
writer = pd.ExcelWriter("data/test.xlsx")
df1.to_excel(writer, sheet_name="复姓")
df2.to_excel(writer)
writer.close()