In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,4) - 1)
df

          0         1         2         3
0 -3.104220 -0.419795 -2.071506 -3.063148
1  0.125816 -1.960976 -1.315828 -1.210885
2  0.013444 -0.127939 -0.830398  1.220542
3  0.891796 -0.009239 -0.746392  0.157360
4 -1.495127 -0.042951  0.265528 -0.654582

# 一、apply和applymap

In [3]:
# apply函数中，axis默认是等于0，代表列
# apply函数：以行或列作为整体来进行处理
df.apply(lambda values: values.max(), axis=0)

0    0.891796
1   -0.009239
2    0.265528
3    1.220542
dtype: float64

In [4]:
# 2. axis的理解

a = np.array([
    [1,np.NAN,3],
    [4,5,6],
    [7,8,9]
])

# axis=0，在处理的时候，会以数组的第1层元素进行处理
# axis=1，在处理的时候，会以数组的第2层元素进行处理

# 为什么apply在axis=0的情况下，是代表列？
a1 = [1,2,3]
a2 = [4,8,6]
a3 = [7,3,5]

np.max([a1,a2,a3])
[7, 8, 6]

# 为什么df.dropna在axix=0的情况，是代表行？

[7, 8, 6]

In [5]:
# 3. applymap：针对DataFrame中的每个元素进行处理
df.applymap(lambda value: value*10)

           0          1          2          3
0 -31.042196  -4.197952 -20.715063 -30.631484
1   1.258163 -19.609760 -13.158281 -12.108849
2   0.134438  -1.279389  -8.303982  12.205421
3   8.917955  -0.092387  -7.463918   1.573603
4 -14.951267  -0.429509   2.655283  -6.545820

# 二、排序

In [6]:
# 1. sort_values：按照某一列进行排序，默认是按照从小到大排序
# 如果想要按照从大到小排序，那么就是ascending=False
df.sort_values(0, ascending=False)

          0         1         2         3
3  0.891796 -0.009239 -0.746392  0.157360
1  0.125816 -1.960976 -1.315828 -1.210885
2  0.013444 -0.127939 -0.830398  1.220542
4 -1.495127 -0.042951  0.265528 -0.654582
0 -3.104220 -0.419795 -2.071506 -3.063148

In [7]:
# 2. 按照索引排序
df.sort_index(ascending=False)

          0         1         2         3
4 -1.495127 -0.042951  0.265528 -0.654582
3  0.891796 -0.009239 -0.746392  0.157360
2  0.013444 -0.127939 -0.830398  1.220542
1  0.125816 -1.960976 -1.315828 -1.210885
0 -3.104220 -0.419795 -2.071506 -3.063148

# 三、算术和逻辑运算

In [8]:
# 1. 算术运算
df*10

           0          1          2          3
0 -31.042196  -4.197952 -20.715063 -30.631484
1   1.258163 -19.609760 -13.158281 -12.108849
2   0.134438  -1.279389  -8.303982  12.205421
3   8.917955  -0.092387  -7.463918   1.573603
4 -14.951267  -0.429509   2.655283  -6.545820

In [9]:
# 2. 逻辑运算
df = pd.read_csv("data/stock_day.csv")
df[(df['open'] > 15) & (df['p_change'] > 2)]

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
2018-02-05,22.45,23.39,23.27,22.25,52341.39,0.65,2.87,23.172,23.928,24.112,46714.72,69278.66,77070.00,1.31
2018-01-19,24.60,25.34,25.13,24.42,128449.11,0.53,2.15,24.432,24.254,23.537,91838.07,88985.70,82975.10,3.21
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-04,22.79,25.07,25.07,22.51,130131.15,2.28,10.00,22.966,22.690,22.935,67939.35,59938.43,57071.47,3.26
2017-12-26,21.73,22.66,22.23,21.73,61929.70,0.72,3.35,22.654,23.014,23.057,50753.59,48360.90,55920.67,1.55
2017-12-12,22.61,24.14,23.98,22.61,125206.36,1.21,5.31,22.732,23.100,24.337,64299.97,63480.44,76113.42,3.13
2017-11-28,24.01,24.90,24.70,24.00,49008.50,0.50,2.07,24.530,25.573,27.421,61031.58,88746.39,145784.73,1.23
2017-11-14,28.00,29.89,29.34,27.68,243773.23,1.10,3.90,28.618,29.268,29.673,176050.82,202823.06,268677.48,6.10
2017-11-07,28.60,29.37,28.98,28.42,173107.20,0.80,2.84,29.918,31.134,28.995,229595.30,301209.67,247155.94,4.33
2017-10-31,32.62,35.22,34.44,32.20,361660.88,2.38,7.42,32.350,30.077,28.406,372824.04,334531.90,241075.48,9.05
2017-10-27,31.45,33.20,33.11,31.45,333824.31,0.70,2.16,30.618,28.489,27.652,388894.38,282674.40,221367.64,8.35
2017-10-26,29.30,32.70,32.41,28.92,501915.41,2.68,9.01,29.662,27.813,27.306,404443.54,254722.83,215395.01,12.56
2017-10-25,27.86,30.45,29.73,27.54,328947.31,1.68,5.99,28.612,27.198,27.072,340158.56,213120.20,208416.55,8.23
2017-10-23,29.00,31.16,29.79,28.90,466494.47,1.46,5.15,27.280,26.763,26.764,247111.56,170695.43,186873.57,11.68
2017-10-20,29.20,29.83,28.33,27.85,411570.12,1.17,4.31,26.360,26.519,26.572,176454.41,141111.99,171445.99,10.30
2017-10-19,25.61,27.20,27.16,25.61,180490.47,1.47,5.72,25.964,26.465,26.500,105002.11,115721.45,159293.58,4.52
2017-09-27,26.52,29.01,28.26,26.52,379796.50,1.74,6.56,26.720,26.480,26.084,252358.18,191481.98,212995.67,9.51
2017-09-26,24.87,26.66,26.52,24.85,165497.09,1.61,6.46,26.246,26.349,25.879,196699.10,171159.43,203831.34,4.14
2017-09-21,26.03,28.48,27.73,25.70,362346.28,1.84,7.11,26.440,26.736,25.495,180037.81,209235.84,194833.73,9.07
2017-09-08,25.50,27.47,26.93,25.32,341440.59,1.36,5.32,24.944,24.609,23.566,235166.70,201615.98,172957.06,8.55
2017-09-07,24.41,26.90,25.57,24.20,289668.06,1.06,4.33,24.566,24.253,23.281,201740.80,180431.62,160218.55,7.25
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-08-31,24.16,25.88,25.62,23.78,259406.52,1.47,6.09,23.940,23.485,22.554,159122.44,189711.82,126717.47,6.49
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-17,20.50,21.97,21.12,20.20,95870.55,1.05,5.23,23.028,23.815,27.230,149992.77,153160.61,138386.76,3.28
2015-07-13,25.63,27.90,27.28,25.63,215671.91,1.67,6.52,25.000,26.057,29.122,169405.01,137084.82,151303.74,7.38
2015-07-10,22.20,25.61,25.61,22.10,164179.59,2.33,10.01,24.602,26.449,29.108,156328.46,124155.83,144964.95,5.62
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-06-24,27.60,28.50,28.05,27.48,100785.98,0.87,3.20,29.168,31.333,29.708,88217.07,139552.02,141688.41,3.45
2015-06-16,30.48,33.48,32.35,29.61,153130.61,0.66,2.08,33.498,31.375,29.565,190886.97,168659.00,161871.41,5.24
2015-06-12,34.69,35.98,35.21,34.01,159825.88,0.82,2.38,33.420,30.513,28.683,197248.25,154480.41,153888.00,5.47
2015-06-09,30.46,33.34,33.34,30.46,204438.47,3.03,10.00,29.252,28.082,26.770,146431.02,143824.79,139248.67,7.00
2015-06-08,28.40,30.90,30.31,28.40,179868.05,2.12,7.52,28.232,27.714,26.164,128067.98,143201.95,133185.54,6.16
2015-06-05,27.37,28.35,28.19,27.37,139291.88,1.19,4.41,27.606,27.675,25.677,111712.57,140397.10,128138.18,4.77
2015-06-02,27.50,28.59,28.24,27.40,112623.23,1.06,3.90,26.912,27.755,24.460,141218.55,155083.83,122956.92,3.86
2015-06-01,25.86,27.79,27.18,25.86,98091.02,1.38,5.35,27.196,27.263,24.085,158335.93,152116.08,121744.71,3.36
2015-05-29,25.50,26.58,25.80,23.70,128398.88,0.53,2.10,27.744,26.852,23.838,169081.63,153295.60,119753.75,4.40
2015-05-22,29.87,30.99,29.54,28.53,209382.62,1.32,4.68,25.960,23.679,22.440,137509.57,115879.26,104078.16,7.17
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-18,22.28,24.45,23.07,22.08,109886.22,0.79,3.55,21.896,20.906,21.434,100442.05,91373.34,101965.14,3.76
2015-05-14,20.84,22.59,22.14,20.72,126074.32,1.36,6.54,20.942,20.845,21.418,89971.27,84345.72,112331.15,4.32
2015-05-12,20.78,21.47,21.21,20.40,83175.93,0.63,3.06,20.014,20.937,21.653,81264.03,83223.00,122655.85,2.85
2015-05-11,20.31,20.84,20.58,20.15,78920.74,0.58,2.90,19.916,21.108,21.649,82304.64,90837.92,127088.19,2.70
2015-05-08,19.10,20.18,20.00,19.10,89248.75,1.19,6.33,20.250,21.200,21.591,78174.86,92277.06,128790.26,3.05
2015-04-27,22.56,23.65,22.92,22.56,159325.12,1.42,6.61,21.952,22.368,20.090,121509.68,162088.70,138272.77,5.45
2015-04-21,21.00,21.97,21.71,20.80,111028.80,0.44,2.07,22.478,21.423,18.772,193934.80,174999.73,136236.51,3.80
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57
2015-04-14,21.45,23.24,23.24,21.45,154693.44,2.11,9.99,20.368,18.494,16.982,156064.66,121417.14,114763.57,5.30
2015-04-13,19.60,21.30,21.13,19.50,171822.69,1.70,8.75,19.228,17.812,16.563,149620.34,114456.84,111752.31,5.88
2015-04-09,18.28,19.89,19.62,18.02,183119.05,1.20,6.51,17.736,16.826,15.964,124323.21,106501.34,104829.10,6.27
2015-04-08,17.60,18.53,18.42,17.60,157725.97,0.88,5.02,17.070,16.394,15.698,101421.29,97906.88,101658.57,5.40
2015-04-07,16.54,17.98,17.54,16.50,122471.85,0.88,5.28,16.620,16.120,15.510,86769.62,97473.29,98832.94,4.19
2015-03-30,15.99,16.63,16.42,15.99,85090.45,0.65,4.12,15.620,15.469,14.722,108176.96,108109.99,108345.78,2.91

In [10]:
df.query("p_change>2 & open > 15")

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2018-02-26,22.80,23.78,23.53,22.80,60985.11,0.69,3.02,22.406,21.955,22.942,40827.52,42736.34,56007.50,1.53
2018-02-23,22.88,23.37,22.82,22.71,52914.01,0.54,2.42,21.938,21.929,23.022,35119.58,41871.97,56372.85,1.32
2018-02-14,21.49,21.99,21.92,21.48,23331.04,0.44,2.05,21.366,21.923,23.253,33590.21,42935.74,61716.11,0.58
2018-02-12,20.70,21.40,21.19,20.63,32445.39,0.82,4.03,21.504,22.338,23.533,44645.16,45679.94,68686.33,0.81
2018-02-05,22.45,23.39,23.27,22.25,52341.39,0.65,2.87,23.172,23.928,24.112,46714.72,69278.66,77070.00,1.31
2018-01-19,24.60,25.34,25.13,24.42,128449.11,0.53,2.15,24.432,24.254,23.537,91838.07,88985.70,82975.10,3.21
2018-01-16,23.40,24.60,24.40,23.30,101295.42,0.96,4.10,23.908,24.058,23.321,82003.73,101081.47,74590.92,2.54
2018-01-12,23.70,25.15,24.24,23.42,120303.53,0.56,2.37,24.076,23.748,23.236,86133.33,91838.46,69690.35,3.01
2018-01-04,22.79,25.07,25.07,22.51,130131.15,2.28,10.00,22.966,22.690,22.935,67939.35,59938.43,57071.47,3.26
2017-12-26,21.73,22.66,22.23,21.73,61929.70,0.72,3.35,22.654,23.014,23.057,50753.59,48360.90,55920.67,1.55
2017-12-12,22.61,24.14,23.98,22.61,125206.36,1.21,5.31,22.732,23.100,24.337,64299.97,63480.44,76113.42,3.13
2017-11-28,24.01,24.90,24.70,24.00,49008.50,0.50,2.07,24.530,25.573,27.421,61031.58,88746.39,145784.73,1.23
2017-11-14,28.00,29.89,29.34,27.68,243773.23,1.10,3.90,28.618,29.268,29.673,176050.82,202823.06,268677.48,6.10
2017-11-07,28.60,29.37,28.98,28.42,173107.20,0.80,2.84,29.918,31.134,28.995,229595.30,301209.67,247155.94,4.33
2017-10-31,32.62,35.22,34.44,32.20,361660.88,2.38,7.42,32.350,30.077,28.406,372824.04,334531.90,241075.48,9.05
2017-10-27,31.45,33.20,33.11,31.45,333824.31,0.70,2.16,30.618,28.489,27.652,388894.38,282674.40,221367.64,8.35
2017-10-26,29.30,32.70,32.41,28.92,501915.41,2.68,9.01,29.662,27.813,27.306,404443.54,254722.83,215395.01,12.56
2017-10-25,27.86,30.45,29.73,27.54,328947.31,1.68,5.99,28.612,27.198,27.072,340158.56,213120.20,208416.55,8.23
2017-10-23,29.00,31.16,29.79,28.90,466494.47,1.46,5.15,27.280,26.763,26.764,247111.56,170695.43,186873.57,11.68
2017-10-20,29.20,29.83,28.33,27.85,411570.12,1.17,4.31,26.360,26.519,26.572,176454.41,141111.99,171445.99,10.30
2017-10-19,25.61,27.20,27.16,25.61,180490.47,1.47,5.72,25.964,26.465,26.500,105002.11,115721.45,159293.58,4.52
2017-09-27,26.52,29.01,28.26,26.52,379796.50,1.74,6.56,26.720,26.480,26.084,252358.18,191481.98,212995.67,9.51
2017-09-26,24.87,26.66,26.52,24.85,165497.09,1.61,6.46,26.246,26.349,25.879,196699.10,171159.43,203831.34,4.14
2017-09-21,26.03,28.48,27.73,25.70,362346.28,1.84,7.11,26.440,26.736,25.495,180037.81,209235.84,194833.73,9.07
2017-09-08,25.50,27.47,26.93,25.32,341440.59,1.36,5.32,24.944,24.609,23.566,235166.70,201615.98,172957.06,8.55
2017-09-07,24.41,26.90,25.57,24.20,289668.06,1.06,4.33,24.566,24.253,23.281,201740.80,180431.62,160218.55,7.25
2017-09-06,23.51,24.88,24.51,23.38,161732.80,0.56,2.34,24.576,23.958,23.105,195688.49,164855.13,150908.43,4.05
2017-08-31,24.16,25.88,25.62,23.78,259406.52,1.47,6.09,23.940,23.485,22.554,159122.44,189711.82,126717.47,6.49
2017-08-30,23.25,24.60,24.15,23.21,196509.73,1.09,4.73,23.340,23.111,22.387,134021.77,169549.50,116718.92,4.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-07-17,20.50,21.97,21.12,20.20,95870.55,1.05,5.23,23.028,23.815,27.230,149992.77,153160.61,138386.76,3.28
2015-07-13,25.63,27.90,27.28,25.63,215671.91,1.67,6.52,25.000,26.057,29.122,169405.01,137084.82,151303.74,7.38
2015-07-10,22.20,25.61,25.61,22.10,164179.59,2.33,10.01,24.602,26.449,29.108,156328.46,124155.83,144964.95,5.62
2015-06-30,23.82,25.13,25.01,21.44,174521.44,1.19,5.00,25.830,27.929,29.447,140738.14,119712.07,142160.16,5.97
2015-06-24,27.60,28.50,28.05,27.48,100785.98,0.87,3.20,29.168,31.333,29.708,88217.07,139552.02,141688.41,3.45
2015-06-16,30.48,33.48,32.35,29.61,153130.61,0.66,2.08,33.498,31.375,29.565,190886.97,168659.00,161871.41,5.24
2015-06-12,34.69,35.98,35.21,34.01,159825.88,0.82,2.38,33.420,30.513,28.683,197248.25,154480.41,153888.00,5.47
2015-06-09,30.46,33.34,33.34,30.46,204438.47,3.03,10.00,29.252,28.082,26.770,146431.02,143824.79,139248.67,7.00
2015-06-08,28.40,30.90,30.31,28.40,179868.05,2.12,7.52,28.232,27.714,26.164,128067.98,143201.95,133185.54,6.16
2015-06-05,27.37,28.35,28.19,27.37,139291.88,1.19,4.41,27.606,27.675,25.677,111712.57,140397.10,128138.18,4.77
2015-06-02,27.50,28.59,28.24,27.40,112623.23,1.06,3.90,26.912,27.755,24.460,141218.55,155083.83,122956.92,3.86
2015-06-01,25.86,27.79,27.18,25.86,98091.02,1.38,5.35,27.196,27.263,24.085,158335.93,152116.08,121744.71,3.36
2015-05-29,25.50,26.58,25.80,23.70,128398.88,0.53,2.10,27.744,26.852,23.838,169081.63,153295.60,119753.75,4.40
2015-05-22,29.87,30.99,29.54,28.53,209382.62,1.32,4.68,25.960,23.679,22.440,137509.57,115879.26,104078.16,7.17
2015-05-21,27.50,28.22,28.22,26.50,121190.11,2.57,10.02,24.508,22.725,22.053,117760.48,103865.87,98766.20,4.15
2015-05-20,24.10,25.65,25.65,24.10,164143.16,2.33,9.99,23.292,21.784,21.733,118737.32,98652.00,99743.64,5.62
2015-05-18,22.28,24.45,23.07,22.08,109886.22,0.79,3.55,21.896,20.906,21.434,100442.05,91373.34,101965.14,3.76
2015-05-14,20.84,22.59,22.14,20.72,126074.32,1.36,6.54,20.942,20.845,21.418,89971.27,84345.72,112331.15,4.32
2015-05-12,20.78,21.47,21.21,20.40,83175.93,0.63,3.06,20.014,20.937,21.653,81264.03,83223.00,122655.85,2.85
2015-05-11,20.31,20.84,20.58,20.15,78920.74,0.58,2.90,19.916,21.108,21.649,82304.64,90837.92,127088.19,2.70
2015-05-08,19.10,20.18,20.00,19.10,89248.75,1.19,6.33,20.250,21.200,21.591,78174.86,92277.06,128790.26,3.05
2015-04-27,22.56,23.65,22.92,22.56,159325.12,1.42,6.61,21.952,22.368,20.090,121509.68,162088.70,138272.77,5.45
2015-04-21,21.00,21.97,21.71,20.80,111028.80,0.44,2.07,22.478,21.423,18.772,193934.80,174999.73,136236.51,3.80
2015-04-15,23.45,25.56,24.38,23.40,250311.59,1.14,4.91,21.560,19.315,17.442,174581.78,138001.54,119340.61,8.57
2015-04-14,21.45,23.24,23.24,21.45,154693.44,2.11,9.99,20.368,18.494,16.982,156064.66,121417.14,114763.57,5.30
2015-04-13,19.60,21.30,21.13,19.50,171822.69,1.70,8.75,19.228,17.812,16.563,149620.34,114456.84,111752.31,5.88
2015-04-09,18.28,19.89,19.62,18.02,183119.05,1.20,6.51,17.736,16.826,15.964,124323.21,106501.34,104829.10,6.27
2015-04-08,17.60,18.53,18.42,17.60,157725.97,0.88,5.02,17.070,16.394,15.698,101421.29,97906.88,101658.57,5.40
2015-04-07,16.54,17.98,17.54,16.50,122471.85,0.88,5.28,16.620,16.120,15.510,86769.62,97473.29,98832.94,4.19
2015-03-30,15.99,16.63,16.42,15.99,85090.45,0.65,4.12,15.620,15.469,14.722,108176.96,108109.99,108345.78,2.91

In [11]:
# df[df['high'].isin([25.88, 17.98])]

df.query('high == 25.88 | high == 17.98')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
2018-02-27,23.53,25.88,24.16,23.53,95578.03,0.63,2.68,22.942,22.142,22.875,53782.64,46738.65,55576.11,2.39
2017-10-17,25.30,25.88,25.43,25.23,67649.41,0.24,0.95,25.908,26.734,26.542,89964.65,147619.06,159389.25,1.69
2017-08-31,24.16,25.88,25.62,23.78,259406.52,1.47,6.09,23.940,23.485,22.554,159122.44,189711.82,126717.47,6.49
2015-08-06,16.94,17.98,17.35,16.81,60609.00,-0.15,-0.86,17.098,18.587,20.783,84605.36,94500.89,116331.12,2.07
2015-04-07,16.54,17.98,17.54,16.50,122471.85,0.88,5.28,16.620,16.120,15.510,86769.62,97473.29,98832.94,4.19

# 四、统计和累计函数

In [12]:
df['volume'].sum()

64239248.78999999

In [13]:
df['volume'].cummax()

2018-02-27     95578.03
2018-02-26     95578.03
2018-02-23     95578.03
2018-02-22     95578.03
2018-02-14     95578.03
2018-02-13     95578.03
2018-02-12     95578.03
2018-02-09     95578.03
2018-02-08     95578.03
2018-02-07     95578.03
2018-02-06     95578.03
2018-02-05     95578.03
2018-02-02     95578.03
2018-02-01     95578.03
2018-01-31     95578.03
2018-01-30     95578.03
2018-01-29     95578.03
2018-01-26     95578.03
2018-01-25    104097.59
2018-01-24    134838.00
2018-01-23    134838.00
2018-01-22    134838.00
2018-01-19    134838.00
2018-01-18    134838.00
2018-01-17    134838.00
2018-01-16    134838.00
2018-01-15    134838.00
2018-01-12    134838.00
2018-01-11    134838.00
2018-01-10    134838.00
                ...
2015-04-13    501915.41
2015-04-10    501915.41
2015-04-09    501915.41
2015-04-08    501915.41
2015-04-07    501915.41
2015-04-03    501915.41
2015-04-02    501915.41
2015-04-01    501915.41
2015-03-31    501915.41
2015-03-30    501915.41
2015-03-27    501915.41
2015-03-26    501915.41
2015-03-25    501915.41
2015-03-24    501915.41
2015-03-23    501915.41
2015-03-20    501915.41
2015-03-19    501915.41
2015-03-18    501915.41
2015-03-17    501915.41
2015-03-16    501915.41
2015-03-13    501915.41
2015-03-12    501915.41
2015-03-11    501915.41
2015-03-10    501915.41
2015-03-09    501915.41
2015-03-06    501915.41
2015-03-05    501915.41
2015-03-04    501915.41
2015-03-03    501915.41
2015-03-02    501915.41
Name: volume, Length: 643, dtype: float64